<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Prueba</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listar}">Encuesta</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>
			
		<form th:action="@{/crear}" th:object="${encuesta}" method="post">
			<div class="form-group row">
				<label for="numeroDocumento" class="col-sm-2 col-form-label">Número de documento</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{numeroDocumento}" class="form-control" disabled="true"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'" disabled="true"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="comentarios" class="col-sm-2 col-form-label">Comentarios</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{comentarios}" class="form-control" disabled="true"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="fechaRespuesta" class="col-sm-2 col-form-label">Fecha de Respuesta</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{fechaRespuesta}" disabled="true"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Enviar Encuesta" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>